scripts/__pycache__/melodyGUI.cpython-39.pyc
scripts/assets/button_1.png
scripts/assets/button_2.png
scripts/assets/button_3.png
scripts/assets/button_4.png
scripts/assets/button_5.png
scripts/assets/button_6.png
scripts/assets/button_7.png
scripts/assets/button_8.png
scripts/assets/button_9.png
scripts/assets/button_10.png
scripts/assets/button_11.png
scripts/assets/button_12.png
scripts/assets/button_13.png
scripts/assets/button_14.png
scripts/assets/button_15.png
scripts/assets/button_16.png
scripts/assets/button_17.png
scripts/assets/button_18.png
scripts/assets/button_19.png
scripts/assets/button_20.png
scripts/assets/button_21.png
scripts/assets/button_22.png
scripts/assets/entry_1.png
scripts/assets/entry_2.png
scripts/assets/image_1.png
scripts/assets/image_2.png
scripts/test1
scripts/test2
plugins/__pycache__/pluginMediator.cpython-39.pyc
